<header>
    <h1>
        <a href="{{ site.baseurl }}/"><img src="{{ site.baseurl }}/images/emblem.svg" width="40" height="40" alt="{{ site.data._global.domain-model.enterprise.name }} logo"></a>
        {{ site.data._global.domain-model.enterprise.name }}
        <button type="button" class="open-nav" id="open-nav"></button>
    </h1>

    <form action="{{ site.baseurl }}/search/" method="get">
        <input type="text" name="q" id="search-input" placeholder="Search" autofocus>
        <input type="submit" value="Search" style="display: none;">
    </form>

    <nav {% if site.show_full_navigation %}class="full-navigation"{% endif %}>
        {% include sidebar-menu.html %}
    </nav>
</header>