<script src="https://cdn.plot.ly/plotly-latest.min.js"></script>
<div class="page-header">
    <h3 id="api-title"></h3>
</div>

<div class="page-content">
    {%- assign page_dirs = page.url | split: "/" -%}
    {%- assign layer = page_dirs[2] -%}
    {%- assign domain = page_dirs[3] -%}
    {%- assign collection_name = page_dirs[4] -%}
    {%- assign collection_plan = site.data[layer][domain].townplan.collections | where: "directory", collection_name -%}
    {%- assign collection_plan = collection_plan[0] -%}
    {%- assign collection_documents = collection_plan.documents -%}
    {%- assign collection_data = site.data[layer][domain][collection_name] -%}

    {%- for collection_document in collection_documents -%}
        <div>
            {%- assign data_key = collection_document.page | remove: '.json'  -%}
            {%- assign document_data = collection_data[data_key] -%}

            {%- assign change_log = document_data[data_key] | reverse -%}

            <div>
                <h3>Commits over Time</h3>
                <div id="graph-commits_over_time"></div>
                <script>
                    {%- assign change_dates = "" -%}
                    {%- assign change_counts = "" -%}

                    {%- assign change_by_date = change_log | group_by_exp: "change", "change.committer_date | date_to_xmlschema| truncate: 10, ''" -%}
                    {%- for change in change_by_date -%}
                        {%- assign change_date = change.name | date_to_xmlschema | split: " " -%}
                        {%- assign change_dates = change_dates | split: ',' | concat: change_date | join: ',' -%}
                        {%- assign change_count = change.items | size | split: " " -%}
                        {%- assign change_counts = change_counts | split: ',' | concat: change_count | join: ',' -%}
                    {% endfor %}

                    var data = [{
                        x: {{ change_dates | split: ','| jsonify }},
                        y: {{ change_counts | split: ',' | jsonify }},
                        type: 'scatter'
                    }];

                    Plotly.newPlot('graph-commits_over_time', data );

                </script>
            </div>

            <div>
                <h3>Contributors</h3>
                <h4>Commit Authors</h4>
                <div id="graph-contributors"></div>
                <script>
                    {%- assign authors = "" -%}
                    {%- assign author_change_counts = "" -%}

                    {%- assign changes_by_author = change_log | group_by: "author_name_mailmap" -%}
                    {%- for author_change in changes_by_author -%}
                        {%- assign author = author_change.name | split: "^" -%}
                        {%- assign authors = authors | split: ',' | concat: author | join: ',' -%}
                        {%- assign change_count = author_change.items | size | split: " " -%}
                        {%- assign author_change_counts = author_change_counts | split: ',' | concat: change_count | join: ',' -%}
                    {% endfor %}

                    var data = [{
                        values: {{ author_change_counts | split: ',' | jsonify }},
                        labels: {{ authors | split: ',' | jsonify }},
                        type: 'pie'
                        }];

                        var layout = {
                        height: 400,
                        width: 500
                        };

                        Plotly.newPlot('graph-contributors', data );

                </script>
            </div>

            <div>
                <h3>Maintainers</h3>
                <h4>Code committed to branch by</h4>
                <div id="graph-maintainers"></div>
                <script>
                    {%- assign authors = "" -%}
                    {%- assign author_change_counts = "" -%}

                    {%- assign changes_by_author = change_log | group_by: "committer_name_mailmap" -%}
                    {%- for author_change in changes_by_author -%}
                        {%- assign author = author_change.name | split: "^" -%}
                        {%- assign authors = authors | split: ',' | concat: author | join: ',' -%}
                        {%- assign change_count = author_change.items | size | split: " " -%}
                        {%- assign author_change_counts = author_change_counts | split: ',' | concat: change_count | join: ',' -%}
                    {% endfor %}

                    var data = [{
                        values: {{ author_change_counts | split: ',' | jsonify }},
                        labels: {{ authors | split: ',' | jsonify }},
                        type: 'pie'
                        }];

                        var layout = {
                        height: 400,
                        width: 500
                        };

                        Plotly.newPlot('graph-maintainers', data );

                </script>
            </div>

            {%- assign change_log_grouped = change_log | group_by: "committer_date_relative" -%}
            <div>
                <h3>Change Log</h3>
                {%- for change_group in change_log_grouped -%}
                    <div>
                        <h3>{{change_group.name}}</h3>
                    </div>
                    {%- for change in change_group.items -%}
                        <div>
                            <h4>{{ change.subject }}</h4>
                            <ul>
                                <li>{{ change.author_date | date_to_long_string }}</li>
                                <li>{{ change.commit_hash_abbreviated }}</li>
                                <li>{{ change.author_name }}</li>
                            </ul>
                            <p>{{ change.body }}</p>
                        </div>
                    {%- endfor -%}
                {%- endfor -%}
            </div>

        </div>
    {%- endfor -%}
</div>
        