<ul class="sidebar-menu">
    {%- assign current = page.url | downcase | split: '/' -%}
    {%- assign current_layer = current[2] -%}
    {%- assign current_domain = current[3] -%}
    {%- assign collection_url = current[4] -%}
    {%- assign last_url = current.last | replace: '.md', '.html' -%}
    <li class="menu-title"><a href="/">Home</a></li>
    {%- assign model = site.data._global.domain-model.enterprise -%}
    {%- for layer in model.layers %}
        {%- assign layer_type = layer.type | downcase -%}
        {%- assign layer_directory = layer.directory -%}
        <li class="{{ layer.name | slugify }}-menu menu-subtitle{% if current_layer == layer_type | downcase %} active{% endif %}">
        <span class="layer-name" title="{{ layer.name }}">{{ layer.name | capitalize }}</span>
            {% capture layer_type %}{{ layer.type | downcase  }}{% endcapture %}
            {%- for domain in layer.domains %}
                {% capture domain_data %}{{ domain.name | downcase  }}{% endcapture %}
                {%- assign domain_directory = domain.directory -%}
                <li class="{{ domain.name | slugify }}-menu {% if current_layer == layer_type and current_domain == domain_data %} active{% endif %}">
                    <a class="domain-name" href="{{site.url}}/pages/{{layer.directory | slugify}}/{{ domain.directory | slugify }}/docs/index.html" title="{{ domain.description }}">{{ domain.name | capitalize }}</a><span class="accordion">&nbsp;</span>
                    {% assign collections = site.data[layer_directory][domain_directory].townplan.collections %}
                    <ul class="sidebar-submenu">
                        {%- for collection in collections %}
                        <li>
                            <a href="{{site.url}}/pages/{{layer.directory | slugify}}/{{ domain.directory | slugify }}/{{collection.directory}}/index.html" {% if current_layer == layer_type and current_domain == domain_data and collection_url == collection.directory %}class="active"{% endif %}>{{ collection.name }}</a>
                            <ul class="sidebar-inner-submenu">
                                {%- for document in collection.documents %}
                                <li>
                                    {% if collection.directory == 'apis' %}
                                        {%- assign api_id = document.page | remove: ".json" | split: "/" | join: "_"  -%}
                                        {% capture document_page %}index.html#swagger-ui-{{api_id}}{% endcapture %}
                                    {% else %}
                                        {% capture document_page %}{{document.page | replace: '.md', '.html'}}{% endcapture %}
                                    {% endif %}
                                    <a href="{{site.url}}/pages/{{layer.directory | slugify}}/{{ domain.directory | slugify }}/{{collection.directory}}/{{document_page}}" class="inner-sidebar-menu-item{% if current_layer == layer_type and current_domain == domain_data and last_url == document_page %} active{% endif %}">{{document.title}}</a>
                                </li>
                                {%- endfor -%}
                            </ul>
                        </li>
                        {%- endfor -%}
                    </ul>
                </li>
        {%- endfor %}
    {%- endfor %}
</ul>