$app-blue: #024ca2 !default;
$app-red: #ff0000 !default;
$app-grey: #313e48 !default;
$app-light-grey: #ececec !default;
$font-url: 'https://fonts.googleapis.com/css?family=Open+Sans:300,300i,400,400i,600,600i,700,700i' !default;
$font-family: 'Open Sans', sans-serif !default;


$consulted-color: #9dc3e6 !default;
$notconsulted-color: #d3d3d3 !default;